-e .
boto3
nltk
numpy
contractions @ git+https://github.com/nickumia/contractions@main#egg=contractions
websearchdict @ git+https://github.com/nickumia/web-search-dictionary.git@main#egg=websearchdict
